h1{
    text-align:center;
}
h2{
    text-align:center;
}
p{
    text-align:center;
}
body{
    background-image:url(https://image.freepik.com/photos-libre/fond-de-drapeau-americain-avec-fond-a-droite_23-2147824271.jpg);
    background-size:2000px;
    color:white;
}
img{
    width:300px;
    align-self:center;
    border:white 5px solid;
    }
.photographs{
    display:flex;
    justify-content:space-between;
} 
.donatebutton{
    display:flex;
    justify-content:center;
}
button{
    padding:10px;
    width:200px;
}
img:hover{
    border-color:red;
}
